<%-include('../partials/adminheader') %>

<body>
    <div class="screen-overlay"></div>
    <%-include('../partials/adminaside')%>
    <main class="main-wrap">
        <%-include('../partials/adminNav') %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%=orders._id%></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%=formatDate(orders.createdOn)%></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%=orders._id%></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                  <%if(orders.status==3){%>
                                    <style>
                                        .btn.btn-secondary.muted {
                                          opacity: 0.5;
                                        }
                                      </style>
                                      <a class="btn btn-secondary muted" href="#">Returned</a>
                                <%}else if(orders.status==2){%>
                                    <style>
                                        .btn.btn-primary.muted {
                                          opacity: 0.5;
                                        }
                                      </style>
                                      
                                      <a class="btn btn-primary muted" href="#">Delivered Success</a>
                               
                                <%}else if(orders.status==-1){%>
                                    <style>
                                        .btn.btn-danger.muted {
                                          opacity: 0.5;
                                        }
                                      </style>
                                      
                                      <a class="btn btn-danger muted" href="#">Cancelled</a>
                               
                                <%}else{%>
                                    <select class="btn btn-secondary print ms-2" onchange="location.href='/admin/changeStatus?id=<%=orders._id%>&status=' + this.value">
                                        <% if (orders.status == 0) { %>
                                            <option value="0" selected>Pending</option>
                                            <option value="-1">Cancel</option>
                                            <option value="1">Approve</option>
                                            <option value="4">Shipped</option>
                                            <option value="2">Delivered</option>
                                        <% } else if (orders.status == -1) { %>
                                            <option value="-1" selected>Canceled</option>
                                            <option value="0">Pending</option>
                                            <option value="1">Approve</option>
                                            <option value="4">Shipped</option>
                                            <option value="2">Delivered</option>
                                        <% } else if (orders.status == 1) { %>
                                            <option value="1" selected>Approved</option>
                                            <option value="-1">Cancel</option>
                                            <option value="0">Pending</option>
                                            <option value="4">Shipped</option>
                                            <option value="2">Delivered</option>
                                        <% } else if (orders.status == 2) { %>
                                            <option value="2" selected>Delivered</option>
                                            <option value="-1">Cancel</option>
                                            <option value="0">Pending</option>
                                            <option value="1">Approve</option>
                                            <option value="4">Shipped</option>
                                        <% } else if (orders.status == 4) { %>
                                            <option value="4" selected>Shipped</option>
                                            <option value="-1">Cancel</option>
                                            <option value="0">Pending</option>
                                            <option value="1">Approve</option>
                                            <option value="2">Delivered</option>
                                        <% } %>
                                    </select>
                                    
                            
                            <%}%>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 orders-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%=orders.userId.name%> <br>
                                        <p><%=orders.userId.mobile%></p>
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: Fargo express <br> Pay method: <%=orders.payment%><br> Status: 
                                        <%if(orders.status==0){%>
                                          Pending
                                            <%}else if(orders.status==-1){%>
                                               Cancelled
                                               <%}else if(orders.status==1){%>
                                                   Approved
                                                   <%}else if(orders.status==3){%>
                                                    Returned
                                                   <%}else if(orders.status==4){%>
                                                    Shipped
                                                   <%}else{%>
                                                    Delivered
                                                    <%}%>
                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <%= address.name %>,<br><%= address.number %>,<%= address.area %>, <br> <%= address.house %>,<%= address.pinCode %> 
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Product</th>
                                            <th width="20%">Name</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orderProducts.forEach(item=>{   %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/uploads/products/<%=item.product.image[0] %>" style="width: 5rem;height: 5rem;" class="img-xs" alt="">
                                                        </div>
                                                    </a>
                                                </td>
                                                <td><%= item.product.name %> </td>
                                                <td> <%= item.product.salePrice %> </td>
                                            <td> <%= item.quantity %></td>
                                            <td class="text-end"><%=item.product.salePrice * item.quantity %> </td>
                                            </tr>
                                           

                                            <%})%>
                                            
                                            <td colspan="6" class="pt-4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd><%= %> </dd>
                                                    </dl>
                                                    <br>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>₹ 0.00</dd>
                                                    </dl>
                                                    <br>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹ <%= %></b> </dd>
                                                    </dl>
                                                    <br>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">   <%if(orders.status==0){%>
                                                                Pending
                                                                  <%}else if(orders.status==-1){%>
                                                                    <span class="badge rounded-pill alert-danger text-danger">cancelled </span>
                                                                    <%}else if(orders.status==1){%>
                                                                        <span class="badge rounded-pill alert-success text-success">Approved</span>
                                                                        <%}else if(orders.status==3){%>
                                                                            <span class="badge rounded-pill alert-secondary text-secondary">Returned</span>
                                                                         <%}else if(orders.status==4){%>
                                                                            <span class="badge rounded-pill alert-primary text-primary">Shipped</span>
                                                                         <%}else{%></span>
                                                                            <span class="badge rounded-pill alert-success text-success">Delivered</span>
                                                                            <%}%>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                         <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>
    <style>
        .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: -1 0 auto;
    width: 101.33333%;
}
    </style>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    
</body>

<script>
      $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
        });

function Delivered(id){
    $.ajax({
url: '/admin/delivered',
method: 'post',
data: {
id: id
},
})

}
</script>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>