const ITEMS_PER_PAGE = 10; <%- include('../partials/adminheader') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<body>
  <div class="screen-overlay"></div>
  <%- include('../partials/adminaside') %>
  <main class="main-wrap">
    <%- include('../partials/adminNav') %>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Products List</h2>
        </div>
        <div>
          <a href="/admin/add-product" class="btn btn-primary btn-sm rounded"
            >Add product</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <header class="card-header"></header>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Units</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product => { %>
              <tr>
                <td>
                  <img
                    src="/uploads/products/<%= product.image[0] %>"
                    class="img-sm img-thumbnail"
                    alt="Product"
                  />
                </td>
                <td><%= product.description %></td>
                <td>$<%= product.salePrice %></td>
                <td>
                  <span class="badge rounded-pill alert-success">Active</span>
                </td>
                <td><%= product.units%></td>
                <td>
                  <!-- product list unlist dropdown -->
                  <div class="dropdown">
                    <a
                      href="#"
                      data-bs-toggle="dropdown"
                      class="btn btn-light rounded btn-sm font-sm"
                    >
                      <i class="material-icons md-more_horiz"></i>
                    </a>
                    <div class="dropdown-menu">
                      <% if (product.isListed) { %>
                      <!-- Unlist Button -->
                      <a
                        href="/admin/unlistproducts/<%= product._id %>"
                        class="btn btn-outline-success"
                        >list</a
                      >
                      <% } else { %>
                      <!-- List Button -->
                      <a
                        href="/admin/listproducts/<%= product._id %>"
                        class="btn btn-outline-danger"
                        >unlist</a
                      >
                      <% } %>
                    </div>
                  </div>
                  <!-- product list unlist dropdown ends -->
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <!-- card-body end// -->
      </div>

      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="/admin/product-list?page=<%= i %>"
                ><%= i %></a
              >
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
    <!-- content-main end// -->
    <%- include('../partials/adminfooter') %>
  </main>
</body>
