<%-include('../partials/adminheader') %>

<body>
  <div class="screen-overlay"></div>
  <%-include('../partials/adminaside') %>
  <main class="main-wrap">
    <%-include('../partials/adminNav') %>
    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Sellers list</h2>
      </div>
      <div class="card mb-4">
        <header class="card-header"></header>

        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach(user => { %>
                  <tr>
                    <td width="40%">
                      <a href="#" class="itemside">
                        <div class="left">
                          <img
                            src="<%= user.image %>"
                            class="img-sm img-avatar"
                            alt="Userpic"
                          />
                        </div>
                        <div class="info pl-3">
                          <h6 class="mb-0 title"><%= user.name %></h6>
                        </div>
                      </a>
                    </td>
                    <td><%= user.email %></td>
                    <td><%= user.mobile %></td>
                    <td>
                        <% if (user.blocked == false) { %>
                   <a href=""><button class="badge rounded-pill alert-success">Active</button></a>
                        <% } else { %>
                    <a href=""><button class="badge rounded-pill alert-danger">Inactive</button></a>
                        <% } %>
                    </td>
                    <td>
                        <% if (user.blocked) { %>
                          <a href="/admin/unblockUser/<%= user._id %>">
                            <button class="badge rounded-pill alert-success">Unblock</button>
                          </a>
                        <% } else { %>
                          <a href="#" onclick="confirmBlock('<%= user._id%>')">
                            <button class="badge rounded-pill alert-danger">Block</button>
                          </a>
                        <% } %>
                      </td>
                   
                  </tr>
                  <% }); %>
                  
                </tbody>
              </table>
            </div>
          </div>
          
        <!-- card ends -->
      </div>
     

      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="/admin/users-list?page=<%= i %>"><%= i %></a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
    <!-- content-main end// -->
    <%-include('../partials/adminfooter') %>
  </main>
</body>


<script>
  function confirmBlock(userId) {
    Swal.fire({
      title: "Are you sure you want to block?",
      text: "!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, block!",
    }).then(async (result) => {
      if (result.isConfirmed) {
        try {
          const response = await fetch(`blockUser/${userId}`, {
            method: "get",
          });
         
      
          if (response.status==200) {
           
            const responseData = await response.json();
            
            window.location.href = responseData.redirectTo;
          } else {
            console.error("Failed to delete",response.statusText);
            Swal.fire(
              "Error",
              "An error occurred while deleting the product.",
              "error"
            );
          }
        } catch (error) {
          console.error("An error occurred:", error);
          Swal.fire("Error", "An unexpected error occurred.", "error");
        }
      }
    });
  }
</script>