<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Order details</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="screen-overlay"></div>
    <nav class="colorlib-nav" role="navigation">
        
        
    </nav>
   
    <main class="">
       
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order details</h2>
                    <p>Details for Order ID: <%=order._id %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= formatDate(order.createdOn) %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= order._id %> </small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <button class="btn btn-outline-primary" onclick="tracking()">Track Order</button>
                           
                        <a href="" class="btn btn-primary">invoice</a>
                        
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                    
                                      <%= user.name %>  <br>   <%= user.mobile %>
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        
                                        Pay method:  <%= order.payment %>  <br> Status:<%= order.status %>

                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        Address:  <%=address.name %> ,<%= address.number %>,<br> <%= address.house %> <%= address.town %> <br> <%= address.pinCode %>
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="30%">Product</th>
                                            <th width="20%">Name</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="10%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% selectedProducts.forEach( item =>{  %>
                                        
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/uploads/products/<%= item.product.image[0] %>" style="height: 5rem; width: 5rem;" class="img-xs" alt="Item">
                                                    </div>
                                                  
                                                </a>
                                            </td>
                                            <td>  <div class="info"><%= item.product.name %>  </div></td>
                                            <td> <%= item.product.salePrice %> </td>
                                            <td><%= item.quantity %></td>
                                            <td class="text-end"> <%= totalPrice %></td>                                        </tr>
                                        <td>
                                          
                                        </td>
                                       <% }) %>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                         <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        
    </main>
    
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>
<style>

    .modal-content {
      background-color: #42469d;
      border-color: #42469d;
      border-radius: 1rem;
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 750px;
        margin: 1.75rem auto;
      }
    }

    .show {
      padding: 0;
    }

    .modal-header {
      border-bottom: none;
      text-align: center;
    }

    .modal-header .close {
      padding: 1rem 1rem;
      margin: -1rem -1rem -1rem 0;
      color: #fff;
    }

    :-moz-any-link:focus {
      outline: none;
    }

    .modal-title {
      line-height: 3rem;
    }

    .modal-body {
      padding: 1rem;
    }

    #progressbar {
      margin-bottom: 3vh;
      overflow: hidden;
      color: white;
      padding-left: 0px;
      margin-top: 3vh;
    }

    #progressbar li {
      list-style-type: none;
      font-size: 0.8rem;
      width: 25%;
      float: left;
      position: relative;
      font-weight: 400;
      color: white;
    }

    #progressbar #step1:before {
      content: "";
      color: white;
      width: 20px;
      height: 20px;
      margin-left: 0px !important;
    }

    #progressbar #step2:before {
      content: "";
      color: #fff;
      width: 20px;
      height: 20px;
      margin-left: 32%;
    }

    #progressbar #step3:before {
      content: "";
      color: #fff;
      width: 20px;
      height: 20px;
      margin-right: 32%;
    }

    #progressbar #step4:before {
      content: "";
      color: rgba(151, 149, 149, 0.651);
      width: 20px;
      height: 20px;
      margin-right: 0px !important;
    }

    #progressbar li:before {
      line-height: 29px;
      display: block;
      font-size: 12px;
      background: rgba(151, 149, 149);
      border-radius: 50%;
      margin: auto;
      z-index: -1;
      margin-bottom: 1vh;
    }

    #progressbar li:after {
      content: '';
      height: 3px;
      background: rgba(151, 149, 149, 0.651);
      position: absolute;
      left: 0%;
      right: 0%;
      margin-bottom: 2vh;
      top: 8px;
      z-index: 1;
    }

    .progress-track {
      padding: 0 8%;
    }

    #progressbar li:nth-child(2):after {
      margin-right: auto;
    }

    #progressbar li:nth-child(1):after {
      margin: auto;
    }

    #progressbar li:nth-child(3):after {
      float: left;
      width: 68%;
    }

    #progressbar li:nth-child(4):after {
      margin-left: auto;
      width: 132%;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
      background: white;
    }
  </style>
</head>

<body>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="progress-track">
            <ul id="progressbar">

                
                    <li class="step0 active " id="step1">Pending</li>
                    <li class="step0 text-center" id="step2">Approved</li>
                    <li class="step0 text-right" id="step3"><span>Shipped</span></li>
                    <li class="step0 text-right" id="step4">Delivered</li>
                        
                            <li class="step0 active " id="step1">Pending</li>
                            <li class="step0 active text-center" id="step2">Approved</li>
                            <li class="step0 text-right" id="step3"><span>Shipped</span></li>
                            <li class="step0 text-right" id="step4">Delivered</li>               
                                
                                <h3>Returned</h3> 
                                
                                    <h3>Cancelled</h3>
                               
                                    <li class="step0 active " id="step1">Pending</li>
                                    <li class="step0 active text-center" id="step2">Approved</li>
                                    <li class="step0 active text-right" id="step3"><span>Shipped</span></li>
                                    <li class="step0 text-right" id="step4">Delivered</li>                                    
                                    
                                        <li class="step0 active " id="step1">Pending</li>
                                        <li class="step0 active text-center" id="step2">Approved</li>
                                        <li class="step0 active text-right" id="step3"><span>Shipped</span></li>
                                        <li class="step0 active text-right" id="step4">Delivered</li>
                                        
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    /* Center the text */
    h3 {
      text-align: center;
    }
  
    /* Set the text color to red */
    h3 {
      color: red;
    }
  
    /* Set the font size */
    h3 {
      font-size: 24px; /* You can adjust the size as needed */
    }
  </style>

  <!-- Bootstrap and jQuery Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function tracking() {
      // Show the Bootstrap modal
      $('#myModal').modal('show');
    }
  </script>
</body>

</html>